PORT=8000 
MONGODB_URI=mongodb+srv://ace_suyash:
    PASSWORD@cluster0.pakoj3a.mongodb.net
#use hash for a comment
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET = 74920317382

ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=18492939049

REFRESH_TOKEN_EXPIRY=10d